<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>error page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
  
  <body>
  <div class="etumos">
      <p>"And I just love etymology. I find it so comforting. What I’ve learned from etymology is that words are little suitcases in which our entire history is packed. The history of colonization and imperialism is packed into every single word in the English language. But so many other things too. In a sense, a word is also a kind of myth through which you can understand the character and the history and the nature of a nation or a culture or whatever mouths that word has traveled through in time. I like to use theory in my work sometimes, but it wasn’t written for me. I’m not a scholar or a theorist. And I find it really comforting that you don’t have to be fluent in any kind of academic language to tease apart where we come from and what the truth is. It’s encoded even in the language that lies to us about what our history is. It’s in there, in the online etymological dictionary!" / Melissa Febos in conversation with Sarah Neilson / BOMB Magazine</p>
    </div>
    
  </body> 

    <footer>
    <nav class="werdnerd">
    <ul>
        <li class="werdnerd"><a href="/">search</a></li>  
    </ul>
    </nav>
  </footer> 
</html>
