<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>error page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

  <body>

    <div class="dream">
      <a href="/werd/?werdname=dream">
      <img src="static/assets/dream.png" alt="An Aztec poem which reads: 'That we come onto this earth to live is untrue. We come but to sleep, to dream.' written in white text as lines shaped like moon crescents on a photograph of the sky as the sun is setting, all the colors of the rainbow present."></a>
    </div>
    
  </body> 
</html>