<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

  <body>

  <div class="about">
  <p>werdnerd is <a href="/werd/?werdname=a">a</a> <a href="/werd/?werdname=simple">simple</a> <a href="/werd/?werdname=etymology">etymology</a> <a href="/werd/?werdname=search">search</a> <a href="/werd/?werdname=engine">engine</a></p>
  
  <p>Created by <a href="https://annasergeeva.net" target="_blank">Anna Sergeeva</a> / Powered by Oxford Languages</p>
  </div>  

  </body> 

</html>